section.flex{
    
    align-items: start;
    gap: 0.5rem;
    
} 

section.skills-parent{
    flex-direction: column;
    /* gap:60px; */
}


section.skills-parent .title{
    color: var(--title);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

section.skills-parent .title span{
    color: var(--main-color);
    padding-left: 10px;
}
section.skills-parent .skills-desc{
    color: var(--title);
    width: 90%;
    margin-bottom: 1.5 rem;
    padding-bottom: 2.4rem;
}


section .skills-list{
    /* display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    overflow: auto; */
    justify-content: start;
    flex-wrap: wrap;    
    display: flex;
    flex-grow: 1;
    column-gap: 1.8rem;
    row-gap: 1.7rem;

}
section .skill-item{
background-color: var(--second-color);
position: relative;
align-items: center;
justify-content: center;
height: auto;
display: flex;
flex-direction: column;
border: 1px solid var(--main-color);
border-radius: 5px;
}


.light section .skill-item{
    color: #000;
    border: 1px solid #000;
    background-color: white;
}

section .skill-item i{
font-size: 8.5rem;
transition: .5; 
}

section .skill-item:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
    
.light section .skill-item:hover{
    color: #000;
    background-color:var(--main-color) ;
    border: 1px solid #000;
}






@media (max-width:600px) {
    section.flex{
     /* width: 103%; */
     gap: 1rem;
     align-items: center;
    }
    section.skills-parent .parent{
        flex-direction: row;
        width: 100%;
        
    }
    section .skills-list{
        column-gap: 3.5rem;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        row-gap: 2rem;
    }
    
section.skills-parent .title{
    display: flex;
    justify-content: center;
}

    section .skill-item {
      width: 5rem;
      height: 4.5rem;
      background-color: transparent;
      
  }
  section .skills-list  [id="nond"] {
    display: none;
}
/* 
section .skills-list  {
    display: none;
} */
  section .skill-item i{
    font-size: 3.5rem;
    transition: .5;
    color: var(--main-color); 
    
  }
  section.skills-parent .skills-desc{
    color: var(--title);
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.4rem;
    margin-bottom: 1.5 rem;
    font-size: 17px;
    padding-left: 18px;
}
  section.skills-parent .skills-desc span{
    display: none;
}
    
  
    }
  