


main.flex{
    align-items: start;
    gap: 2.1rem;
    
}
/*============Left section --Buttons*/

main section.left-section.flex{
    flex-direction: column;
    gap: 6px;
}
main .Project-descreption{
    width: 15rem;
    color: var(--title);
    margin-bottom: 1.5rem;
    
}
main section.left-section.flex .title {
    color: var(--title);
    font-size: 3rem;
    margin-bottom: 1rem;
}

main section.left-section.flex .title span{
    color: var(--main-color);
}



main section.left-section.flex button{
    /* background-color: rgba(36, 37, 46, 1); */
    background-color: var(--second-color);
    width: 15rem;
    height: 2.rem;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    opacity: 0.5;
    transition: 0.3s;
}

.light main section.left-section.flex button{
    /* background-color: rgba(36, 37, 46, 1); */
    color: white;
    background-color: #000;
}


main section.left-section.flex button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);

}

.light main section.left-section.flex button.active{
border: 1px solid #000;
color: white;
}

main section.left-section button:hover{
    opacity: 1;
    color: var(--main-color);
    border: 1px solid var(--main-color); 
    border-radius: 5px;   
}



/*============end left-section --Buttons*/



/*============ start right section =========*/


main section.right-section.flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
    height: 45rem;
    overflow: auto;
    margin-top: 6.4rem;
}
main section.right-section::-webkit-scrollbar{
width: 0.7rem;
height: 1rem;
background-color: transparent;
}
main section.right-section::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 2px;
}
.card{
    border: 1px solid var(--second-color);
    border-radius: 5px;
    transition: 0.3s;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.card:hover{
    border: 1px solid var(--main-color);
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;

}
.card{
    border-radius: 5px;
    display: flex;
    border: 1px solid var(--main-color);
    transition: 0.3s;
    background-image: linear-gradient(
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.05),
    );
    margin-right: 3px;
}
.light .card,.light .card:hover{
    border: 1px solid #000;

}
.card .project-details{
    padding: 0.2rem 0.4rem;
    height: rem;
    overflow: hidden;
}
.card .project-title{
    color: var(--title);

}

.card img{
    width: 258px;
    height: 145px;
    border-radius: 5px;
}




.card .project-descreption{
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    height: 10px;
}
.card .project-details .icons{
    justify-content:space-between;
    align-items: end;
    margin-bottom: 0;
    margin-top: 2rem    ;
}
.card .icon-github ,.card .icon-link{
    font-size: 1.2rem;
    color: var(--subtitle);
}
.card .icon-link a{
color: var(--main-color);    
}

.card a.link{
    font-size: 0.9rem;
    color: var(--main-color);
    margin-right: 12px;
}

.light .card .icon-link a{
    color: #000;    
    }
    
 .light .card a.link{
        font-size: 0.9rem;
        color: #000;
        margin-right: 12px;
    }
    
/*============ end right section =========*/


/*=========== Responsiveness =============*/


@media (max-width:600px) {
  main.flex{
   flex-direction: column;
   gap: 2.64rem;
   align-items: center;
  }
  main section.right-section.flex {
    display: grid
;
    grid-template-columns: 1fr;
    gap: 1.1rem;
    height: 46rem;
    overflow: auto;
    margin-top: 0.4rem;
}   
  main section.left-section.flex .title {
    display: flex;
    justify-content: center;
}

main section.left-section.flex .title span{
    padding-left: 10px;
}

  main section.left-section.flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  main section.left-section button{
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
}
main section.right-section.flex{
        main section.right-section.flex {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.1rem;
        height: 46rem;
        overflow: hidden;
        margin-top: 0.4rem;
    }
}
  /* card stilyng */

.card{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: 0.3s;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}
  
.card .project-descreption{
     display: none
}
.card .project-title{
    color: var(--title);
    font-size: 1.3rem ;
    padding-bottom: 0rem;
}

.card .project-title span{
    visibility: hidden;
}
 
.card .project-details .icons {
    justify-content: space-between;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 1px;
}

.card img {
    width: 278px;
    height: 139px;
    border-radius: 5px;
}
/* scroll-bat */

main section.right-section::-webkit-scrollbar{
    width: 0.5rem;
    height: 12rem;
    }
    main section.right-section::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
        border-radius: 5px;
        
    }
    main section.right-section:hover::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
        border-radius: 5px;
        
    }
    
  }
